.main {
    text-align: center;
}

.name {
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.userInfo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

.footer {
    padding: 1rem 2rem;
    color: white;
    background-color: tomato;
    box-shadow: 0 100vh 0 100vh tomato;
}